* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 350px 1fr;
}

section {
/*     border: 1px solid lightgray; */
}

h2 {
    margin-top: 0;
}

ui-control {
    display: block;
}

input:invalid {
    border: 1px dashed red;
}

#queue-list {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#queue-list li {
    padding: 1em;
}

#queue-list:empty::after {
    content: "playlist is empty!";
}

[data-queue-state] {
    transition: height 1s, padding 1s, background-color 1s;
}

#queue-list [data-queue-state="done"] {
    background: red;
    padding: 0;
    height: 0;
    overflow: hidden;
}


[data-queue-state="playing"] {
    background: lightgreen;
}

[data-queue-state="queued"] {
    background: lightblue;
}

[data-queue-state="generating"] {
    background: yellow;
}