<!DOCTYPE html>
<head>
    <title>Open Stable Radio</title>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"></link>
</head>
<body>
    <header>
        <h1>AI Slop Radio</h1>
    </header>
    <main>
        <section class="sidebar">
            <section>
                <h2>Prompt</h2>
                <ui-control>
                    <label for="positive_prompt">Positive Prompt</label>
                    <textarea id="positive_prompt" name="positive_prompt">piano</textarea>
                </ui-control>
                <ui-control>
                    <label for="negative_prompt">Negative Prompt</label>
                    <textarea id="negative_prompt" name="negative_prompt"></textarea>
                </ui-control>
                <ui-control>
                    <label for="negative_prompt_enable">Always Send Negative Prompt</label>
                    <input type="checkbox" id="negative_prompt_enable" name="negative_prompt_enable"></input>
                </ui-control>
                <ui-control>
                    <label for="cfg">CFG Scale</label>
                    <input type="number" id="cfg" name="cfg" value="6.0" step="any" required></input>
                </ui-control>
                <ui-control>
                    <label for="sigma_min">Sigma Min</label>
                    <input type="number" id="sigma_min" name="sigma_min" value="0.3" step="any" required></input>
                </ui-control>
                <ui-control>
                    <label for="sigma_max">Sigma Max</label>
                    <input type="number" id="sigma_max" name="sigma_max" value="500.0" step="any" required></input>
                </ui-control>
            </section>
            <section>
                <h2>Generation Parameters</h2>
                <ui-control>
                    <label for="seed">Seed</label>
                    <input type="number" id="seed" name="seed" min="0" value="0" required></input>
                </ui-control>
                <ui-control>
                    <label for="seed_increment">Increment seed after generation</label>
                    <input type="checkbox" id="seed_increment" name="seed_increment" checked></input>
                </ui-control>
                <ui-control>
                    <label for="steps">Steps</label>
                    <input type="number" id="steps" name="steps" min="1" value="20" required></input>
                </ui-control>
                <ui-control>
                    <label for="length">Length</label>
                    <input type="number" id="length" name="length" min="1" value="10.0" step="any" required></input>
                </ui-control>
            </section>
            <section>
                <h2>Outpainting and Variation</h2>
                <ui-control>
                    <label for="init_audio_dropdown">Init Audio</label>
                    <select id="init_audio_dropdown" name="init_audio_dropdown">
                        <option value="off">Off</option>
                        <option value="file">From File</option>
                        <option value="wander">Most Recent Generation</option>
                        <option value="microphone">Microphone</option>
                    </select>
                </ui-control>
                <ui-control>
                    <label for="init_audio_upload">Upload file</label>
                    <input type="file" id="init_audio_upload" name="init_audio_upload"></input>
                </ui-control>
                <ui-control>
                    <label for="init_noise_level">Init Noise Level</label>
                    <input type="number" id="init_noise_level" name="init_noise_level" value="1.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="mask_args_checkbox">Enable mask args</label>
                    <input type="checkbox" id="mask_args_checkbox" name="mask_args_checkbox"></input>
                </ui-control>
                <ui-control>
                    <label for="paste_from">Paste From</label>
                    <input type="number" id="paste_from" name="paste_from" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="paste_to">Paste To</label>
                    <input type="number" id="paste_to" name="paste_to" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="crop_from">Crop From</label>
                    <input type="number" id="crop_from" name="crop_from" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="mask_start">Mask Start</label>
                    <input type="number" id="mask_start" name="mask_start" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="mask_end">Mask End</label>
                    <input type="number" id="mask_end" name="mask_end" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="softness_left">Softness Left</label>
                    <input type="number" id="softness_left" name="softness_left" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="softness_right">Softness Right</label>
                    <input type="number" id="softness_right" name="softness_right" min="0.0" max="100.0" step="any"></input>
                </ui-control>
                <ui-control>
                    <label for="marination">Marination</label>
                    <input type="number" id="marination" name="marination" step="any"></input>
                </ui-control>
            </section>
            <section>
                <h2>Sound Controls</h2>
                <ui-control>
                    <label for="volume">Volume</label>
                    <input type="range" id="volume" name="volume" min="0" max="1" value="0.5" step="any" />
                    <span id="volume_slider_display"></span>
                </ui-control>
            </section>
            <section>
                <p>Remaining Buffer: <span id="remaining_buffer_display">0.0</span> seconds</p>
                <p>Estimated Generation Time: <span id="estimated_time_display">0.0</span> seconds</p>
                <p>Current time: <span id="current_time_display">0.0</span></p>
                <button id="play">Play</button>
            </section>
        </section>
        <section id="playlist">
        </section>
    </main>
</body>